<nav class="navbar navbar-expand-lg navbar-light bg-primary mt-2">
  <a class="navbar-brand text-white" href="#">Todo App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="row">
  <div class="col-12 pt-2">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Description" aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
      </div>
    </div>
  </div>

  <div class="col-12">
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <th>Description</th>
        <th>Action</th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td>Breakfast</td>
          <td>No</td>
          <td></td>
        </tr>
        <tr>
          <td>Running</td>
          <td>No</td>
          <td></td>
        </tr>
        <tr>
          <td>Sleep</td>
          <td>No</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>